@font-face {
	font-family: "JAVATEXT";
	src: url('../fonts/JAVATEXT.TTF');
}
@font-face {
	font-family: "AMALFICOAST";
	src: url('../fonts/AMALFICOAST.TTF');
}
@font-face {
	font-family: "AKKOPRO-BOLDCONDENSED";
	src: url('../fonts/AKKOPRO-BOLDCONDENSED.TTF');
}
@font-face {
	font-family: "AKKOPRO-BOLDCONDENSEDITALIC";
	src: url('../fonts/AKKOPRO-BOLDCONDENSEDITALIC.TTF');
}