* {
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
    border: 0px !important;
    font-family: "JAVATEXT" !important;
}

p {
    margin: 0px !important;
}