* {
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
    border: 0px !important;
    font-family: "JAVATEXT" !important;
    color: var(--bs-white);
}
main {
    display: none;
}
#Mobile {
    display: block;
}
@media (max-width: 900px) {
    main {
        display: block;
    }
    #Mobile {
        display: none;
    }
}
p {
    margin: 0px !important;
}